			body {
				padding: 12% 5% 5% 5%;
				background-image: url(../images/img/logo.jpeg);
			}

			#btn {
				outline: none;
				width: 153px;
				height: 40px;
				background: #f39b18;
				border: none;
				border-radius: 4px;
				font-family: Helvetica;
				font-size: 16px;
				color: #ffffff;
				margin-top: 10px;
			}

			#p1 {
				line-height: 30px;
				font-size: 20px;
				color: aquamarine;
			}

			#p1>input {
				outline: none;
			}

			#SL {
				border-radius: 10px;
				padding: 7px 20px;
				color: hotpink;
				border-style: solid;
				text-decoration: none;
				display: inline-block;
				margin-top: 10px;
			}

			#DQ {
				border-radius: 10px;
				padding: 7px 20px;
				color: hotpink;
				border-style: solid;
				text-decoration: none;
				display: inline-block;
				margin-top: 10px;
			}

			#QQ {
				border-radius: 10px;
				padding: 7px 20px;
				color: hotpink;
				border-style: solid;
				text-decoration: none;
				display: inline-block;
				margin-top: 10px;
			}

			#div1 {
				text-align: center;
				border-width: 1px;
				border-style: solid;
				border-color: rgb(2, 204, 245);
				background-color: #79918e6b;
				border-radius: 20px;
			}

			#img {
				border-radius: 50%;
				max-width: 150px;
				max-height: 150px;
			}
			#rp{
				width: 100%;
				height: 30px;
				/* background-color: aqua; */
			}
			#ggbf{
				line-height: 30px;
				font-family: "楷体";
				font-size: 20px;
				font-weight: 600;
			}
			#r{
				margin: 0;
				width: 100%;
				text-align: center;
				height: 20px;
				font-size: 14px;
				line-height: 20px;
			}